@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    background-image: linear-gradient(to right,rgb(179, 236, 198), rgb(51, 230, 90));
}

h1 {
    text-align: center;
    font-family: 'Cinzel Decorative', sans-serif;
    font-weight: 700;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
}

p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 25px;
}

.ingredients {
    text-align: center;
}

.steps {
    text-align: center;
}


